.suggestion-view-hidden {
  display: none;
}

.suggestion {
  cursor: pointer;
}

.suggestion-view {
  position: absolute;
  height: 600px;
  overflow-y: auto;
  z-index: 1000;
  width: calc(100% - 30px);
}

.suggestion-view::-webkit-scrollbar {
  width: 20px;
}

.suggestion-view::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}